.qmake.stash
Makefile
src/maven/tmp
src/maven/appdir
mzWatcher/tmp
bin/
*.moc
.vim*
*.sw*
moc_*
*.o
*.gch
*.user
qrc_*
dump
*.msp
.DS_Store
Src/.DS_Store

# eclipse CDT-associated
.cproject
.project
.settings/
maven.cpp
maven.pro
maven.qml
maven.qrc
build/**/*