.qmake.stash
src/maven/.qtc_clangd/
Makefile
src/maven/tmp
src/maven/appdir
mzWatcher/tmp
bin/
*.moc
.vim*
*.sw*
moc_*
*.o
*.gch
*.user
qrc_*
dump
*.msp
.DS_Store
maven.pro
maven.pro.user.4.9-pre1
src/build-maven_core-Desktop_Qt_5_12_5_clang_64bit-Debug/
src/build-maven-Desktop_Qt_5_12_5_clang_64bit-Debug/
src/build-build-Desktop_Qt_5_15_14_for_macOS_Universal-Debug/
src/build-maven-Desktop_Qt_5_15_14_for_macOS_Universal-Debug/
src/build-maven-Qt_6_5_2_for_macOS-Debug/
src/build-peakdetector-Desktop_Qt_5_15_14_for_macOS_Universal-Debug/
src/build-isotopeprocessor-Desktop_Qt_5_15_14_for_macOS_Universal-Debug/
src/build-isotopeprocessor-llvm_Desktop_Qt_5_15_2_for_macOS_Universal-Debug/
src/build-pulleics-Desktop_Qt_5_15_14_for_macOS_Universal-Debug/

src/peakdetector/peakdetector.pro.user
src/peakdetector/tmp
src/peakdetector/Makefile
src/peakdetector/.DS_Store

# tests
src/maven_tests/testqstring/testqstring.app/
src/maven_tests/testqstring2/testqstring2.app/
src/maven_tests/testsimpleparsimony/testsimpleparsimony.app/
src/maven_tests/testsecprocessor/testsecprocessor.app/
src/maven_tests/testmzkitchenprocessor/testmzkitchenprocessor.app/
Src/maven_tests/testrtalignment/testrtalignment.app/

