.qmake.stash
Makefile
src/maven/tmp
src/maven/appdir
mzWatcher/tmp
bin/
*.moc
.vim*
*.sw*
moc_*
*.o
*.gch
*.user
qrc_*
dump
*.msp
.DS_Store
maven.pro
maven.pro.user.4.9-pre1
src/build-maven_core-Desktop_Qt_5_12_5_clang_64bit-Debug/
src/build-maven-Desktop_Qt_5_12_5_clang_64bit-Debug/

src/peakdetector/peakdetector.pro.user
src/peakdetector/tmp
src/peakdetector/Makefile
src/peakdetector/.DS_Store
