[Desktop Entry]
Type=Application
Name=Maven
Comment=Metabolomics Data and Pathway Browser
Exec=maven
Icon=images/icon
Categories=Education;Science;Biology;
